html, body {
  overflow-x: hidden;  /* prevent side scrolling */
  width: 100%;
}

.container, .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
}
